<nav>
  <div class="nav-wrapper container"></div>
</nav>

    <div class="container" id="banner">
      <br><br>
        <h1 class="header center teal-text text-lighten-2">Fau-X Files</h1>
        <div class="row center">
          <h5 class="header col s12 light">The truth is out there...not here!</h5>
        </div>
        <div class="row center">
          <a href="/scrape" id="scrape-button" class="btn-large waves-effect waves-light teal lighten-1">Scrape News</a>
          <a href="/" class="btn-large waves-effect waves-light teal lighten-1">Load Files</a>
        </div>
    </div>
        <br><br>
       
      <div class="container">
        <div class="row">
            <div class="col s12">


{{#each articles}} 
              <div class="card col s4">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src={{image}}>
                   
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{title}}<i class="material-icons right">more_horiz</i></span>
                    <p><a href={{link}} target="blank">Full Article</a></p>          
                    <hr>
                  <a class="waves-effect waves-light btn modal-trigger" href="#modal1" data-id={{_id}}>Write Comment</a>
                  <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                      <div class="modal-content">
                        <div class="row">
                          <div class="input-field col s6">
                            <input id="name" type="text" class="validate">
                            <label class="active" for="name">Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <textarea id="comment" class="materialize-textarea"></textarea>
                            <label for="comment">Comment</label>
                          </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button id="submit" class="modal-close waves-effect waves-green btn-flat">Submit</button>
                      </div>
                    </div>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal2" style="margin-top:5px" data-id={{_id}}>Read Comments</a>
                  <!-- Modal Structure -->
                    <div id="modal2" class="modal">
                      <div class="modal-content">
                        <div class="row">
                          <div id="comment_section" class="col s6">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="modal-close waves-effect waves-green btn-flat">Close</button>
                      </div>
                    </div>

                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Summary<i class="material-icons right">close</i></span>
                    <p>{{summary}}</p>
                  </div>
                </div>
 {{/each}}

            </div>
        </div>
      </div>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script type="text/javascript">


  $('.modal-trigger').click(function(){

    $("#name").val('');
    $("#comment").val('');
    
    let id = $(this).attr("data-id");
    console.log(id);

    // Send the get request for comments.
    $.get("/comment/" + id).then(
      function(data) {
        let comments = [];
        comments.push(data[0].comment);
        console.log(comments);

        if (comments.length != 0) {
        
        $("#comment_section").empty();

        for (let i=0; i < comments.length; i++)
          $("#comment_section").append('<br><p>' + comments[i].name + ' wrote: ' + comments[i].body + '<button class="modal-close waves-effect waves-green btn-flat" id="delete" data-index=' + comments[i]._id + '><i class="material-icons">clear</i></button></p><hr>'); 
        
        $("#delete").click(function() {
          let index = $(this).attr("data-index");
          console.log(index);
          
          // Send the DELETE request.
          $.ajax("/delete/" + index, {
            type: "DELETE"
          }).then(
            function() {
              console.log("deleted comment");
              location.reload();
            });
        });   
        }    
      });

    $('.modal').modal();  //pushes out the modal

    $("#submit").click(function() {
        var newComment = {
        name: $("#name").val().trim(),
        body: $("#comment").val().trim()
      };
      
      // Send the POST request.
      $.ajax("/comment/" + id, {
        type: "POST",
        data: newComment
      }).then(
        function() {
          console.log("updated quote");
          location.reload();
        });
    });

  });




</script>

   <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

